* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial", sans-serif;
    background-color: #020303;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.sushi .container, .choose-sushi .container, .chef-cooks .container {
    font-size: 0;
}

.header {
    padding: 30px 0 30px 0;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 283px;
}

.menu {
    display: inline-block;
    vertical-align: middle;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    margin-right: 60px;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(253, 239, 213);
    line-height: 1.2;
    padding: 3px 0;
}

.menu ul li a:hover {
    color: #ffaf18;
    border-bottom: 2px solid #ffaf18;
}

.sushi {
    padding: 133px 0 80px 0;
}

.sushi-favourite {
    display: inline-block;
    max-width: 564px;
    padding-bottom: 45px;
}

.sushi-description-all {
    margin-bottom: 95px;
}

.sushi-image {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 22px;
}

.sushi h1 {
    font-size: 45px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.222;
    margin-bottom: 74px;
}

.sushi h1 span {
    color: #ffaf18;
}

.sushi-description {
    display: inline-block;
    vertical-align: middle;
}

.sushi-description:first-child {
    margin-right: 99px;
}

.sushi-description-img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.sushi-description-text {
    vertical-align: middle;
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
}

.button {
    border: 0;
    background-color: #ffaf18;
    border-radius: 30px;
    width: 224px;
    box-sizing: border-box;
    font-size: 16px;
    color: rgb(2, 3, 3);
    font-weight: bold;
    padding: 22px;
    text-align: center;
    cursor: pointer;
    line-height: 16px;
}

.button.button-choose:hover {
    box-shadow: 0 3px 20px 0 #ffaf18;
}

.choose-sushi {
    padding: 120px 0;
}

.choose-sushi h2 {
    font-size: 35px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.571;
    text-align: center;
    margin-bottom: 60px;
}

.all-cards {
    font-size: 0;
    margin: -12px;
}

.cards {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    vertical-align: middle;
    width: 282px;
    padding: 5px 15px 10px;
    box-sizing: border-box;
    text-align: center;
    margin: 12px;
    border: 5px solid transparent;
}

.cards:hover {
    box-shadow: 0 0 6px 4px rgba(255, 255, 255, 0.5);
}

.cards:first-child {
    border: 5px solid #ed9b00;
}

.cards:last-child {
    border: 5px solid #ed9b00;
    margin: 7px 12px 7px 12px;
    padding: 5px 20px 10px 20px;
}

.cards-img {
    margin-bottom: 30px;
}

.cards-img img {
    width: 200px;
    height: 154px;
}

.cards-title {
    font-size: 18px;
    color: rgb(24, 26, 26);
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.cards-descr {
    font-size: 14px;
    color: rgb(24, 26, 26);
    line-height: 1.286;
    text-align: center;
    margin-bottom: 15px;
    min-height: 50px;
}

.button.button-cart {
    width: 100%;
    border-radius: 25px;
    padding: 17px;
}

.button.button-cart:hover {
    box-shadow: 0 4px 5px 0 rgb(255 175 24 / 47%);
}

.chef-cooks {
    padding: 120px 0 67px 0;
}

.chef-cooks-main {
    max-width: 385px;
    display: inline-block;
    vertical-align: bottom;
}

.chef-cooks-images {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 47px;
}

.chef-cooks h2 {
    font-size: 35px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.286;
    margin-bottom: 60px;
}

.chef-cooks-text {
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    margin-bottom: 100px;
}

.chef-cooks-read-more {
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 40px;
}

.chef-cooks-icon {
    background-color: white;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    padding: 13px 6px 13px 8px;
    box-sizing: border-box;
    margin-right: 40px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.chef-cooks-icon:last-child {
    margin-right: 0;
}

.chef-cooks-icon:hover {
    box-shadow: 0 0 6px 4px rgba(255, 255, 255, 0.5);
}

.chef-cooks-icon:active {
    background-color: #ffaf18;
}

.chef-cooks-icon:visited {
    background-color: #bebebe;
}

.chef-cooks-icon.icon-sushi {
    padding: 11px 9px 10px 12px;
}

.chef-cooks-icon.icon-tuna {
    padding: 14px 7px;
}

.footer {
    padding: 30px 0;
}

.footer .logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 391px;
}

.rights {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: rgb(44, 44, 44);
    line-height: 1.2;
}